.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.384);
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
}
.message-container{
    background-color: rgb(34, 25, 48);
    color: white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}